extends layout

block content
  a(href="/brands")
    p Go Back
  div.d-flex.align-items-center
    h3= brand.name
    a(href=brand.url + '/delete')
      p(style="margin: 0; margin-left: 1rem; color: red") Delete this Brand

  div.d-flex.container-fluid
    each item in items
      div.item-listing
        h4= item.brand.name
        h5= item.name
        em= item.description
        div.d-flex.justify-content-between
          p Stock: #{item.stock}pcs
          strong $#{item.price}.99