extends layout

block content
  a(href="/brands")
    p Go Back
  div.d-flex.align-items-center
    h3= brand.name
    a(href=brand.url + '/delete')
      button.ml-3.btn-sm.btn-warning Delete
    a(href=brand.url + '/edit')
      button.ml-3.btn-sm.btn-danger Edit

  div.d-flex.container-fluid
    each item in items
      div.item-listing
        img(src= '/' + item.image style='max-width: 100%;')
        h4= item.brand.name
        h5= item.name
        em= item.description
        div.item-footer
          p Stock: #{item.stock}pcs
          strong $#{item.price}.99