extends layout

block content
  a(href="/categories")
    p Go Back

  div.d-flex.align-items-center
    h3= category.name
    a(href=category.url + '/delete')
      p(style="margin: 0; margin-left: 1rem; color: red") Delete
    a(href=category.url + '/edit')
      p(style="margin: 0; margin-left: 1rem; color: orange") Edit 

  div.d-flex.container-fluid
    each item in items
      div.item-listing
        img(src= '/' + item.image style='max-width: 100%;')
        h4= item.brand.name
        h5= item.name
        em= item.description
        div.item-footer
          p Stock: #{item.stock}pcs
          strong $#{item.price}.99