extends layout

block content

  a(href="/items")
    p Go Back
  
  div#form-wrapper
    each erorr in errors
      p= erorr
    form(action="" method="POST")
      label(for="name") Name
      input(type="text" value=item ? item.name : "" name="name" required)

      label(for="description") Description
      textarea(type="text" placeholder="Description.." name="description" required) #{item ? item.description : "" }

      label(for="brand") Brand
      input(type="text" name="brand" value=item ? item.brand.name : "" required)

      label(for="category") Category
      input(type="text" value=item ? item.category.name : "" name="category" required)

      label(for="price") Price
      input(type="number" value=item ? item.price : 0 name="price" required)

      label(for="stock") Stock
      input(type="number" value=item ? item.stock : 0 name="stock" required)

      button(type='submit' style="margin-top: 10px; margin-left: 10px;") Submit