<%- include header %>
<%- include navbar %>
<div id="book-form-container" class="container-fluid">
  <div class="px-0 container-fluid" style="display: flex;"><a href="/"><h5>Home</h5></a></div>
  <h4 style="text-align: center;">Create a new Book!</h4>
  <form id="book-form" action="/books" method="POST">
  <div class="form-group">
    <input minlength="3" maxlength="200" placeholder="Title.." class="form-control" type="text" name="title" required />
  </div>
  <div class="form-group">
    <input minlength="3" maxlength="200" placeholder="Author.." class="form-control" type="text" name="author" required />
  </div>
  <div class="form-group">
    <textarea name="description" minlength="20" maxlength="1000" placeholder="Description.." class="form-control" required></textarea>
  </div>
  <div class="form-group">
    <label>Genre</label>
    <select class="form-control" name="genre">
      <% genres.forEach(genre => { %>
        <option value=<%=genre.name%>><%= genre.name %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group">
    <input price="1000" placeholder="Price..($)" class="form-control" type="number" name="price" />
  </div>
  <div class="form-group">
    <input max="3000" placeholder="Page count.." class="form-control" type="pages" name="pages" />
  </div>
  <div class="form-group">
    <input max="3000" placeholder="Stock.." class="form-control" type="stock" name="stock" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary d-block" style="margin: 0 auto;">CREATE</button>
  </div>
  </form>
</div>
<%- include footer %>