<%- include header %>
<%- include navbar %>
<div class="container-fluid" style="flex: 1;">
  <div class="row">
    <%- include sidebar %>
    <div class="col books-container container">
      <% books.forEach(book => { %>
        <div class="book col-6">
          <div class="book-header">
            <a href=<%="/books/" + book._id%>><h3><%= book.title %></h3></a>
            <p>$<%= book.price %>.99</p>
          </div>
          <h5>by <%= book.author %></h5>
          <p><%= book.description %></p>
          <div class="book-footer"><p><%= book.stock %> left</p></div>
        </div>
      <% }) %>
    </div>
  </div>
</div>

<%- include footer %>