extends layout

block posts_form
  div.posts-container.container
    if currentUser
      h3 What is on your mind ?
      form.mx-auto(method='post' action='/posts/new')
        div.form-group
          input.form-control(type='text' name='title' placeholder='Title...' required)
        div.form-group
          input.form-control(type='text' name='content' placeholder='Who are you gossiping next?' required)
        div.form-group.text-center
          button.btn.btn-sm.btn-info(type='submit') Create

block content

  if posts
    for post in posts
      div.post.container
        div.post-header
          if currentUser && currentUser.isMember
            span by #{post.user_id.username}
          else 
            span by [
              a(href='/users/login')
                span Login
            span  or 
            a(href='/members')
              span become a member
            span  to see who posted this]
          span.text-muted(style='font-size:13px')  #{post.time_ago}
        div.post-content
          h5= post.title
          p.ml-3= post.content
        div.post-footer.d-flex.justify-content-end
          a(href=`/posts/${post._id}/edit`)
            p Edit
          a.ml-2(href=`/posts/${post._id}/delete`)
            p.text-danger Delete
